extends ../layout

block content
  ul(id='error')
    if(errors)
      for error in errors
        li= error
  fieldset
    legend Login
    form(method='post' action='/users/login')
      div
        label Username
          input(type='text' name='username')
      div
        label Password 
          input(type='password' name='password')
      button(type='submit') Login
