extends ../layout

block content
  h1 My Shelf 
  div(id='collection')
    each book in collection
      a(href='/library/books/' + book.id)
        img(src= book.imageUrl)
      if(book.quotes[0])
        span #{book.quotes[0].quote} 
   
