extends ../layout

block content
  div(id='shelf')
    h1 Catalog
    p
      label.highlight(for='txtBookSearch') Type in a Title/Author
      br  
      input(id='txtBookSearch' type='text')
    section(id='bookPreview')
      h2(id='title') Title
      br
      div(class='bookColumn')
        p(id='author') Author:
        button(id='Favorite' class='btn btn-primary') Favorite
      div(class='bookColumn')
        img(id='picture' src='' alt='No Image Avaialble')
        p(id='publishedDate') Published
        p(id='description') description
      
    //- fieldset
    //-   legend Enter your new Book
    //-   form(method='post' action='/library/books/:id' + userId)
    //-     div
    //-       label Title
    //-         input(type='text' name='title')
    //-     div
    //-       label Author
    //-         input(type='text' name='author')
    //-     div
    //-       label Pdf Upload
    //-     div(id='quotes')
    //-       label 
    //-         button(id='addQuote') Add a Quote 
    //-     div
    //-       button(type='submit') Add to My Shelf
  script(src='/javascripts/bookSearch.js')
  
  
