extends ../layout

block content
  div(id='shelf')
    h1 My Shelf
    div
      each book in collection
        div(class='collection')
          div
            a(href='/library/books/' + book.id)
              img(src= book.imageUrl)
          h4 
            button Quotes
          div(class='quotes')
            each item in book.quotes
              p= "''" + item.quote + "''"
          
        
  script(src='/javascripts/quotes.js')
  
