extends ../layout

block content
  h1 My Shelf
  p
    a(href='/library/books/' + userId) New Book
  p
    label(for='txtBookSearch') Type in a Title
    br  
    input(id='txtBookSearch' type='text')
  
  script(src='/javascripts/bookSearch.js')
  
