extends layout

block content
  h1= title
  h2 A place to search and store books
  br
  p
    a(href='/library/books') 
      img(id='frontLink' src='https://images.unsplash.com/3/alejandroescamilla-book.jpg?dpr=2&fit=crop&fm=jpg&h=400&q=80&w=1050' height='500' width='850')
      
  
  script(src="/javascripts/google-analytics.js")
  
