doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p= user
    p
      a(href='/users/login') Login
    p
      a(href='/users/new_account') Sign Up 
    p
      a(href='/users/logout') Logout
    block content
