doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://bootswatch.com/sandstone/bootstrap.min.css')
    link(rel='stylesheet' href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .middle
          a(href='/library/books') Discovery
        .navbar-header
          button(class='navbar-toggle collapsed', type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation         
            span.icon-bar         
            span.icon-bar         
            span.icon-bar       
          a.navbar-brand(href='/') BookShelf     
        div(id='bs-example-navbar-collapse-1', class='navbar-collapse collapse', aria-expanded='false', style='height: 1px;')               
          ul.nav.navbar-nav.navbar-right.dropdown
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                span(class='glyphicon glyphicon-align-center')           
              ul.dropdown-menu(role='menu')
                if !userId
                  li
                    a(href='/users/new_account') Sign Up
                  li.divider
                    li
                      a(href='/users/login') Login
                else
                  li
                    a(href='/users/logout') Logout
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/library/books/shelf/' + userId, class='user')
                button(class='btn btn-default user')= username  
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
    script(src='http://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js')
    block content
